// Colors
$grey: #333333;

// Navigation
$nav-background: $grey;
$nav-text-color: white;
$nav-bold: bold;

// Clock variables
$clock-text-color: white;
$clock-bg-clor: #B5D0E2;
$clock-border-color: #2099E8;
